.intro-toolkit {
	margin-top: 65%;
	text-align: center;
	color: $color-on-lightbg-2;
	overflow: hidden;
	@extend .show-over-landing-page;

	.col-sm-6,
	.col-md-3 {
		height: $height-toolkit-img;
		margin-bottom: 40px;
	}

	.toolkit-bg-image {
		background-size: cover;
		@extend .pdg-top-btm-each-module;
	}

	.intro-copy {
		margin-bottom: 50px;
	}

	.hover-boxes {
		display: none;
		padding: 0px 30px;
		background-color: $ebony-clay-opacity;
		color: $color-on-darkbg;
		height: $height-toolkit-img;
    position: absolute;
    top: 0;
    width: 90%;
    overflow: hidden;
		@extend .intro-toolkit-boxes;

		.headings {
			position: relative;
			top: 10px;
			padding: 0;
			padding-top: 40px;
			margin-bottom: 40px;
		}

		.content {
			position: relative;
			margin-bottom: 25px;
			height: 100px;
		}

		.rrp {
			position: relative;
			color: $danube;
			margin-bottom: 35px;
		}

		.deal {
    	font-weight: $reg-font-weight;
			position: relative;
			color: $cornflower;
			border: 3px solid $cornflower;
			padding: 3px 25px;
	    margin: 0 auto;
	    margin-bottom: 25px;
	    width: 75%;

	    p {
	    	margin: 0px;
	    }
		}

		.link {
			position: relative;
			@extend .links-on-darkbg;
		}

		.link:hover {
			@extend .links-on-darkbg:hover;
		}

	}

	.front-boxes {
		position: absolute;
    top: 0px;
    width: 90%;
		@extend .intro-toolkit-boxes;

		.tool-logos {
    	line-height: 5;
			height: 85px;
			position: absolute;
			width: 100%;
			bottom: 0px;
			background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

			.image {
				position: relative;
			  max-height: 100%;
			  max-width: 100%;
			}
		}
	}

	@media (min-width: $navbar-collapse) {
		.col-sm-6,
		.col-md-3 {
			margin-bottom: 0px;
		}
	}
}