/* Colours */

$white: #ffffff;
$whisper: #f5f6fa;
$cornflower: #96c5ea;
$danube: #5D9BD2;
$mariner: #2D83CF;
$dusty-gray: #959595;
$mineshaft: #333333;
$black: #000000;
$ebony-clay: #222C34;
$ebony-clay-opacity: rgba(34, 44, 52, 0.6);

/* Background colours */

$landing-page-colour: $ebony-clay-opacity;
$scroll-dn-nav: $white;

$btn-bg-on-lightbg: $danube;
$btn-hover-bg-lightbg: $mariner;
$btn-bg-on-darkbg: $mariner;

/* Font names, weights and sizes */

$roboto-font: 'Roboto';
$roboto-light-weight: 300;
$reg-font-weight: 400;
$roboto-bold-weight: 500;
$page-font: $roboto-font;
$color-on-darkbg: $white;
$color-on-lightbg-1: $black;
$color-on-lightbg-2: $mineshaft;
$h1-size: 60px;
$h1-size-sm-screen: 25px;
$h2-size: 48px;
$h2-size-sm-screen: 23px;
$h3-size: 24px;
$h3-size-sm-screen: 21px;
$h4-size: 21px;
$h4-size-sm-screen: 18px;
$reg-body-copy: 17px;
$reg-body-copy-sm-screen: 15px;
$small-copy-size: 14px;
$link-color-on-darkbg: $white;
$hover-color-on-darkbg: $cornflower;
$link-color-on-lightbg: $black;
$hover-color-on-lightbg: $mariner;

$btn-color-lightbg: $white;
$btn-color-darkbg: $white;
$btn-hover-col-dark-bg: $cornflower;

/* Images */

$landing-page-img: '../img/landing-page-stock-photo.jpg';

/* Structure */

$each-heading-padding-top: 65px;

$navbar-option-padding: 0px 15px;
$navbar-height: 50px;

$hdg-underline-width: 70%;

$height-toolkit-img: 365px;

$button-height: 35px;

$video-div-height: 400px;

/* Media Breakpoints */

$x-small: 767px;
$md-breakpoint: 991px;
$small: 1199px;
$navbar-collapse: 1282px;